@import "tailwindcss";

@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}

#root {
  position: relative;
  z-index: 10;
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

.pixel-btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color: white;
  background-color: transparent;
  border: 2px solid #E8A0A0;
  padding: 20px 40px;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 4px 0px #8B3A2A;
  transition: all 0.1s;
}

.pixel-btn:hover {
  box-shadow: 6px 6px 0px #8B3A2A;
}

.pixel-btn:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}